---
---

@charset "UTF-8";

// Reset
* {
    box-sizing: border-box;
}

// General styles
body {
    margin: 0;

    background-color: #fff;

    color: #111;
    // Use fonts that support macrons/circumflexes, and syllabics first:
    font-family: Euphemia, Euphemia UCAS, Aboriginal Sans, sans-serif;
}

// Reset margins
h1, h2, h3, h4 {
    margin: 0;
}

h1, h2, h3, h4 {
    text-align: center;
}

// Defining the main grid!
main {
    display: grid;

    grid-template-areas:
        "header header  header   header   header   header   header   header   header"
        "const  convrs  convrs   convrs   months   months   months   interog  sound"
        "const  convrs  convrs   convrs   months   months   months   comeand  sound"
        "const  dayswk  counting counting counting counting time     time     sound"
        "const  wahkoh  personal emphatic emphatic conjugtn conjugtn conjugtn sound"
        "const  animals ptsbody  verbs    verbs    tenses   demonstr demonstr sound"
        "const  animals ptsbody  dirs     dirs     dirs     demonstr demonstr sound"
        "footer footer  footer   footer   footer   footer   footer   footer   footer";

    & > header {
        grid-area: header;
    }
    & > .conversation {
        grid-area: convrs;
    }
    & > .months-of-the-year {
        grid-area: months;
    }
    & > .interrogative-particles {
        grid-area: interog;
    }
    & > .come-and {
        grid-area: comeand;
    }
    & > .days-of-the-week {
        grid-area: dayswk;
    }
    & > .my-relations {
        grid-area: wahkoh;
    }
    & > .personal-pronouns {
        grid-area: personal;
    }
    & > .emphatic-pronouns {
        grid-area: emphatic;
    }
    & > .verb-conjugation {
        grid-area: conjugtn;
    }
    & > .counting {
        grid-area: counting;
    }
    & > .telling-time {
        grid-area: time;
    }
    & > .animals {
        grid-area: animals;
    }
    & > .parts-of-the-body {
        grid-area: ptsbody;
    }
    & > .types-of-verbs {
        grid-area: verbs;
    }
    & > .tenses {
        grid-area: tenses;
    }
    & > .demonstrative-pronouns {
        grid-area: demonstr;
    }
    & > .directions {
        grid-area: dirs;
    }
    & > .consonants {
        grid-area: const;
    }
    & > .english-sounds {
        grid-area: sound;
    }
}

main > section {
    padding: 1rem;
}

main > header {
    background-color: maroon;
    color: #fff;
}

main > .consonants {
    background-color: #00F;
    color: #FFF;
}

main > .english-sounds {
    background-color: #FF0;
    color: #111;
}

// Make dt and dl be inline with each other
dl.inline {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    & > dt {
        flex: 0 0 50%;
    }
    & > dd {
        flex: 0 0 50%;
        margin-left: auto;
    }
}
